.effect-box-show {
    box-shadow: 0 1px 10px var(--THEME_COLOR) !important;
}

.effect-text-mask {
    background: linear-gradient(90deg, white, rgba(255, 255, 255, 0.5), white);
    font-weight: bold;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'qtxt';
    /* animation: effect-text-mask-anim infinite alternate 360ms; */
}

.effect-text-mask_two {
    background: linear-gradient(90deg, black, rgba(255, 255, 255, 0.5), black);
    font-weight: bold;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'qtxt';
    /* animation: effect-text-mask-anim infinite alternate 360ms; */
}

.effect-border {
    box-sizing: border-box;
    /* box-shadow: 0 0 6px 1px var(--THEME_COLOR) inset; */
    border: 1px dashed var(--THEME_COLOR);
}

.effect-border-top-none {
    border-top-left-radius: var(--THEME_BORDER_RADIUS) !important;
    border-top-right-radius: var(--THEME_BORDER_RADIUS) !important;
}

@keyframes effect-text-mask-anim {
    from {}

    to {}
}