.effect_hover_bg_size {
    cursor: pointer;
    transition: all 250ms ease-out;
    background-position: center;
    background-size: auto 100%;


    &:hover {
        transition: all 250ms ease-in;
        background-size: auto 110%;
        /* background-size: auto 120% !important; */
    }
}

.effect_scale {
    cursor: pointer;
    transform: scale(1);
    transition: all 250ms ease-in;

    &:active {
        transition: all 250ms ease-in-out;
        transform: scale(0.8);
    }
}

.effect_show {
    animation: show 250ms ease-out;
}

@keyframes show {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes effect_show_for {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.effect_show_for {
    animation: effect_show_for 1250ms ease infinite;
}