@font-face {
  font-family: 'wxxlt';
  src: url("/fonts/文心喜乐体.ttf");
}

@font-face {
  font-family: 'sx';
  src: url("/fonts/WrittenSC-Regular.ttf");
}

.font_one {
  font-family: 'wxxlt';
}

.font_two {
  font-family: 'sx';
}

.text-word-break {
  word-break: break-all;
}

.multiline-ellipsis {
  /* 限制显示的行数 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;

  text-overflow: ellipsis;
  line-height: 1.2em;
}