@import url('./ant/card.css');
@import url('./ant/btn.css');
@import url('./effect.css');
@import url('./flow.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.app-region {
  -webkit-app-region: drag;
}

.app-region-no {
  -webkit-app-region: no-drag;
}