@import url('./ant/card.css');
@import url('./ant/btn.css');

html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--THEME_COLOR_BG);
  background-size: auto 100%;
}

.app-region {
  -webkit-app-region: drag;
}

.app-region-no {
  -webkit-app-region: no-drag;
}



:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::-webkit-scrollbar-thumb {
    background: repeating-linear-gradient(var(--THEME_COLOR_BG), var(--THEME_COLOR), var(--THEME_COLOR_BG));
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    appearance: none;
    height: 6px;
    width: 6px;
    background-color: var(--THEME_COLOR_BG);
  }

  ::-webkit-scrollbar-button {
    width: 6px;
    height: 6px;
    content: 'sd';
    background-color: var(--THEME_COLOR);
    cursor: pointer;
  }
}