@import url('./ant/card.css');
@import url('./ant/btn.css');
@import url('./ant/list.css');

body {
  background-color: var(--THEME_COLOR_BG);
}

* {
  font-family: 'wxxlt';
}


html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

.app-region {
  -webkit-app-region: drag;
}

.app-region-no {
  -webkit-app-region: no-drag;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::-webkit-scrollbar-thumb {
    background: repeating-linear-gradient(var(--THEME_COLOR_BG), var(--THEME_COLOR), var(--THEME_COLOR_BG));
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    appearance: none;
    height: 6px;
    width: 6px;
    background-color: var(--THEME_COLOR_BG);
  }

  ::-webkit-scrollbar-button {
    width: 6px;
    height: 6px;
    background-color: var(--THEME_COLOR);
    cursor: pointer;
  }
}

@font-face {
  font-family: 'wxxlt';
  src: url("/fonts/文心喜乐体.ttf");
}

@font-face {
  font-family: 'sx';
  src: url("/fonts/WrittenSC-Regular.ttf");
}