.ant-list-item {
    cursor: pointer;
    padding: 4px !important;
    /* background-image: repeating-linear-gradient(to left, var(--THEME_COLOR), var(--THEME_COLOR_BG)); */
}

.ant-list-item p {
    max-width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    line-height: 1.25;
}